<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AUBIT ECIANS</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>

    <div id="navbar">
        <h1>
            {{ title}}
        </h1>
    </div>

    <div class="container">
        <form action="#" class="form-group mt-4 form-inline" method="POST">
            <input type="text" name="task" placeholder="Enter any task....," class="form-control form-control-md m-2" required>
            <button class="btn btn-md btn-primary" type="submit">Add Task</button>
        </form>
    </div>
    <div class="container">
        <table class="table text-center table-bordered">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Task
                </th>
                <th>
                    Date Time
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Read book
                </td>
                <td>
                    17-january-2020 10.11 AM 
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>

        </table>
    </div>


</body>
</html>